<launch>
<node pkg="tf" type="static_transform_publisher" name="camera_link_broadcaster" args="0 0 -0.2 0 1.570796 0 base_link camera_link 100" />
<launch>


  <arg name="namespace" default="$(env UAV_NAMESPACE)"/>
  <arg name="parent_frame"          default="map"/>
  <arg name="child_frame"           default="base_link"/>
  <arg name="odometry"              default="mavros/global_position/local"/>
  
<group ns="$(arg namespace)">
   <!--tf from mavros/world to red/base_link -->
    <node name="tf_node" pkg="landing_platform" type="tf_node" output="screen">
      <param name="child_frame_id"  value="$(arg child_frame)"/>
      <param name="parent_frame_id" value="$(arg parent_frame)"/>
      <remap from="odometry"        to="$(arg odometry)"/>
    </node>
</group>
</launch>
